################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Bb]uild.meta

*.suo

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta

/ScatterSharp/.vs
/ScatterSharp/packages
/ScatterSharp/ScatterSharp/obj
/ScatterSharp/ScatterSharp.UnitTests/obj
/ScatterSharp/ScatterSharp.Core/obj
/ScatterSharp/ScatterSharp.UnitTests.Core/obj
/ScatterSharp/ScatterSharp.Unity3D/obj
/ScatterSharp/ScatterSharp.UnitTests.Unity3D/obj
/ScatterSharp/ScatterSharp.EosProvider/obj
/ScatterSharp/ScatterSharp/bin
/ScatterSharp/ScatterSharp.UnitTests/bin
/ScatterSharp/ScatterSharp.Core/bin
/ScatterSharp/ScatterSharp.UnitTests.Core/bin
/ScatterSharp/ScatterSharp.Unity3D/bin
/ScatterSharp/ScatterSharp.UnitTests.Unity3D/bin
/ScatterSharp/ScatterSharp.EosProvider/bin
/Unity3D/ScatterSharpUnity3D/Assets/Plugins
/Unity3D/ScatterSharpUnity3D/.vs/ScatterSharpUnity3D/v15
/Unity3D/ScatterSharpUnity3D/obj
/Unity3D/ScatterSharpUnity3D/Logs
/Unity3D/*.unitypackage
/Unity3D/out.txt
